adf/pipeline/000 - master pipeline daily job Re-process.json
{
	"name": "000 - master pipeline daily job Re-process",
	"properties": {
		"activities": [
			{
				"name": "Get CurrentStatus of Reprocess LineageKey",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderStoredProcedureName": "[ETL].[MasterEtlGetCurrentStatusForLineageKey]",
						"storedProcedureParameters": {
							"I_ReprocessLineageKey": {
								"type": "Int32",
								"value": {
									"value": "@pipeline().parameters.ReprocessLineageKey",
									"type": "Expression"
								}
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "SqlServerDestinationDS_tnu",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Switch base on CurrentStatus of LineageKey",
				"type": "Switch",
				"dependsOn": [
					{
						"activity": "log info RERUN-MASTER STARTED",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"on": {
						"value": "@activity('Get CurrentStatus of Reprocess LineageKey').output.firstRow.RerunStageName",
						"type": "Expression"
					},
					"cases": [
						{
							"value": "EXTRACT",
							"activities": [
								{
									"name": "005 - master pipeline daily Extract-Load",
									"type": "ExecutePipeline",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "005 - master pipeline daily Extract-Load",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"MasterEtlLineageKey": {
												"value": "@pipeline().parameters.ReprocessLineageKey",
												"type": "Expression"
											},
											"CurrentCutoffTime": {
												"value": "@variables('CurrentCutoffTime')",
												"type": "Expression"
											},
											"LastCutoffTime": {
												"value": "@variables('LastCutoffTime')",
												"type": "Expression"
											},
											"CountryKey": {
												"value": "@json(activity('Get CurrentStatus of Reprocess LineageKey').output.firstRow.MasterSettings).Parameters.CountryKey",
												"type": "Expression"
											},
											"MasterPipelineRunId": {
												"value": "@pipeline().RunId",
												"type": "Expression"
											}
										}
									}
								}
							]
						},
						{
							"value": "LOAD",
							"activities": [
								{
									"name": "006 - master pipeline daily Load",
									"type": "ExecutePipeline",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "002 - master pipeline daily Load - All",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"MasterEtlLineageKey": {
												"value": "@pipeline().parameters.ReprocessLineageKey",
												"type": "Expression"
											},
											"LastCutoffTime": {
												"value": "@variables('LastCutoffTime')",
												"type": "Expression"
											},
											"CurrentCutoffTime": {
												"value": "@variables('CurrentCutoffTime')",
												"type": "Expression"
											},
											"MasterPipelineRunId": {
												"value": "@pipeline().RunId",
												"type": "Expression"
											}
										}
									}
								}
							]
						}
					]
				}
			},
			{
				"name": "log info RERUN-MASTER COMPLETED",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "008 - master pipeline daily Update LastCutoffTime",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "802 - util pipeline - log info",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"MasterEtlLineageKey": {
							"value": "@pipeline().parameters.ReprocessLineageKey",
							"type": "Expression"
						},
						"PipelineRunId": {
							"value": "@pipeline().RunId",
							"type": "Expression"
						},
						"EtlStatus": "RERUN-MASTER COMPLETED",
						"ExecutionStartUtc": {
							"value": "@activity('Get CurrentStatus of Reprocess LineageKey').ExecutionStartTime",
							"type": "Expression"
						},
						"ExecutionEndUtc": {
							"value": "@utcnow()",
							"type": "Expression"
						},
						"PipelineName": {
							"value": "@pipeline().Pipeline",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "log info RERUN-MASTER STARTED",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Set CurrentCutOffTime",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "802 - util pipeline - log info",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"MasterEtlLineageKey": {
							"value": "@pipeline().parameters.ReprocessLineageKey",
							"type": "Expression"
						},
						"PipelineRunId": {
							"value": "@pipeline().RunId",
							"type": "Expression"
						},
						"EtlStatus": "RERUN-MASTER STARTED",
						"ExecutionStartUtc": {
							"value": "@activity('Get CurrentStatus of Reprocess LineageKey').ExecutionStartTime",
							"type": "Expression"
						},
						"PipelineName": {
							"value": "@pipeline().Pipeline",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "Set LastCutOffTime",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Get CurrentStatus of Reprocess LineageKey",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "LastCutoffTime",
					"value": {
						"value": "@activity('Get CurrentStatus of Reprocess LineageKey').output.firstRow.PreviousCutoffTime",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set CurrentCutOffTime",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Set LastCutOffTime",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "CurrentCutoffTime",
					"value": {
						"value": "@activity('Get CurrentStatus of Reprocess LineageKey').output.firstRow.CurrentCutoffTime",
						"type": "Expression"
					}
				}
			},
			{
				"name": "008 - master pipeline daily Update LastCutoffTime",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Switch base on CurrentStatus of LineageKey",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "008 - master pipeline daily Update LastCutoffTime",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"CurrentCutoffTime": {
							"value": "@variables('CurrentCutoffTime')",
							"type": "Expression"
						},
						"LineageKey": {
							"value": "@pipeline().parameters.ReprocessLineageKey",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "Refresh Cube",
				"type": "ExecutePipeline",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [
					{
						"activity": "log info RERUN-MASTER COMPLETED",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "Refresh Cube",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			}
		],
		"parameters": {
			"ReprocessLineageKey": {
				"type": "int",
				"defaultValue": 4489
			}
		},
		"variables": {
			"LastCutoffTime": {
				"type": "String"
			},
			"CurrentCutoffTime": {
				"type": "String"
			}
		},
		"folder": {
			"name": "0. Master Pipelines"
		},
		"annotations": [],
		"lastPublishTime": "2022-02-25T07:33:56Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}