adf/pipeline/002 - master pipeline daily Load - All.json
{
	"name": "002 - master pipeline daily Load - All",
	"properties": {
		"description": "Load data from Staging (schema = hm_daily) to Dim and Fact (DW)",
		"activities": [
			{
				"name": "200 - Load pipeline - Start",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "log info LOAD STARTED",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "200 - Load pipeline - Start",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"MasterEtlLineageKey": {
							"value": "@pipeline().parameters.MasterEtlLineageKey",
							"type": "Expression"
						},
						"LastCutoffTime": {
							"value": "@pipeline().parameters.LastCutoffTime",
							"type": "Expression"
						},
						"CurrentCutoffTime": {
							"value": "@pipeline().parameters.CurrentCutoffTime",
							"type": "Expression"
						},
						"MasterSettings": {
							"value": "@json(\nconcat(\n    '{\"MasterEtlLineageKey\":', string(pipeline().parameters.MasterEtlLineageKey),\n     ',\"LastCutoffTime\": \"' , pipeline().parameters.LastCutoffTime,'\",\n     \"CurrentCutoffTime\": \"', pipeline().parameters.CurrentCutoffTime,'\"}'\n))",
							"type": "Expression"
						},
						"MasterPipelineRunId": {
							"value": "@pipeline().parameters.MasterPipelineRunId",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "log info LOAD STARTED",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Set ExecutionStartTime",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "802 - util pipeline - log info",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"MasterEtlLineageKey": {
							"value": "@pipeline().parameters.MasterEtlLineageKey",
							"type": "Expression"
						},
						"PipelineRunId": {
							"value": "@pipeline().RunId",
							"type": "Expression"
						},
						"EtlStatus": "LOAD STARTED",
						"ExecutionStartUtc": {
							"value": "@variables('ExecutionStartTime')",
							"type": "Expression"
						},
						"PipelineName": {
							"value": "@pipeline().Pipeline",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "log info LOAD COMPLETED",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "200 - Load pipeline - Start",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "802 - util pipeline - log info",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"MasterEtlLineageKey": {
							"value": "@pipeline().parameters.MasterEtlLineageKey",
							"type": "Expression"
						},
						"PipelineRunId": {
							"value": "@pipeline().RunId",
							"type": "Expression"
						},
						"EtlStatus": "LOAD COMPLETED",
						"ExecutionStartUtc": {
							"value": "@variables('ExecutionStartTime')",
							"type": "Expression"
						},
						"ExecutionEndUtc": {
							"value": "@utcnow()",
							"type": "Expression"
						},
						"PipelineName": {
							"value": "@pipeline().Pipeline",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "log error LOAD FAILED",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "200 - Load pipeline - Start",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "803 - util pipeline - log error",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"MasterEtlLineageKey": {
							"value": "@pipeline().parameters.MasterEtlLineageKey",
							"type": "Expression"
						},
						"PipelineRunId": {
							"value": "@pipeline().RunId",
							"type": "Expression"
						},
						"EtlStatus": "LOAD FAILED",
						"ExecutionStartUtc": {
							"value": "@variables('ExecutionStartTime')",
							"type": "Expression"
						},
						"ExecutionEndUtc": {
							"value": "@utcnow()",
							"type": "Expression"
						},
						"ErrorCode": {
							"value": "@activity('200 - Load pipeline - Start').Error.ErrorCode",
							"type": "Expression"
						},
						"ErrorMessage": {
							"value": "@activity('200 - Load pipeline - Start').Error.Message",
							"type": "Expression"
						},
						"PipelineName": {
							"value": "@pipeline().Pipeline",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "Set ExecutionStartTime",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "ExecutionStartTime",
					"value": {
						"value": "@utcnow()",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"MasterEtlLineageKey": {
				"type": "int"
			},
			"LastCutoffTime": {
				"type": "string"
			},
			"CurrentCutoffTime": {
				"type": "string"
			},
			"MasterPipelineRunId": {
				"type": "string"
			}
		},
		"variables": {
			"ExecutionStartTime": {
				"type": "String"
			}
		},
		"folder": {
			"name": "0. Master Pipelines"
		},
		"annotations": [],
		"lastPublishTime": "2022-02-25T07:33:52Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}