adf/pipeline/100 - Extract pipeline - Start.json
{
	"name": "100 - Extract pipeline - Start",
	"properties": {
		"activities": [
			{
				"name": "GetAllDataSourcesToExtract",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": "SELECT * FROM [ETL].[DataSource] WHERE IsEnabled = 1",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "SqlServerDestinationDS_tnu",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEachDataSource",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "GetAllDataSourcesToExtract",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('GetAllDataSourcesToExtract').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Execute 101 - Extract pipeline for One DataSource",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "101 - Extract pipeline for One DataSource - TopLevel",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"MaxNumberOfTablesReturnedFromLookupActivity": {
										"value": "@int('5000')",
										"type": "Expression"
									},
									"MaxNumberOfConcurrentTasks": {
										"value": "@int('20')",
										"type": "Expression"
									},
									"DataSource": {
										"value": "@item()",
										"type": "Expression"
									},
									"MasterSettings": {
										"value": "@pipeline().parameters.MasterSettings",
										"type": "Expression"
									},
									"MasterPipelineRunId": {
										"value": "@pipeline().parameters.MasterPipelineRunId",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			}
		],
		"parameters": {
			"MasterSettings": {
				"type": "object"
			},
			"MasterPipelineRunId": {
				"type": "string"
			}
		},
		"folder": {
			"name": "1. Extract Pipelines"
		},
		"annotations": [],
		"lastPublishTime": "2022-02-25T07:33:52Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}