adf/pipeline/Load Cloud ETL Job.json
{
	"name": "Load Cloud ETL Job",
	"properties": {
		"activities": [
			{
				"name": "LookUp Running Job",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT TOP 1 * \nFROM [dbo].[LoadedJobQueue] WHERE RunningStatus <> 'SUCCESSED' \nAND (IsPriority = 1 OR QueueKey = (SELECT MAX(QueueKey) FROM [dbo].[LoadedJobQueue] WHERE RunningStatus <> 'SUCCESSED'))",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "CloudDeheus",
						"type": "DatasetReference",
						"parameters": {
							"TableName": "LoadedJobQueue",
							"SchemaName": "dbo"
						}
					}
				}
			},
			{
				"name": "Execute Pipeline1",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Assign Selected Table To Load",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "000 - master pipeline daily job",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"InputCurrentCutoffTime": {
							"value": "@activity('LookUp Running Job').output.firstRow.ToDateTime",
							"type": "Expression"
						},
						"CountryKey": {
							"value": "activity('LookUp Running Job').output.firstRow.CountryKey",
							"type": "Expression"
						},
						"UseManualInputLastCutoffTime": "YES",
						"InputLastCutoffTime": {
							"value": "@activity('LookUp Running Job').output.firstRow.FromDateTime",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "Backup ControlLoadTable",
				"type": "Script",
				"dependsOn": [
					{
						"activity": "LookUp Running Job",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "AzureSqlDeheus",
					"type": "LinkedServiceReference"
				},
				"typeProperties": {
					"scripts": [
						{
							"type": "Query",
							"text": "TRUNCATE TABLE [STG].[ExtractLoadControlTable] \nINSERT INTO [STG].[ExtractLoadControlTable] \nSELECT * FROM [ETL].[ExtractLoadControlTable]"
						}
					],
					"scriptBlockExecutionTimeout": "02:00:00"
				}
			},
			{
				"name": "Assign Selected Table To Load",
				"type": "Script",
				"dependsOn": [
					{
						"activity": "Backup ControlLoadTable",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "AzureSqlDeheus",
					"type": "LinkedServiceReference"
				},
				"typeProperties": {
					"scripts": [
						{
							"type": "Query",
							"text": {
								"value": "UPDATE [ETL].[ExtractLoadControlTable] SET LoadEnabled = 0, ExtractEnabled = 0 \nWHERE SourceObjectName <> '@activity('LookUp Running Job').output.firstRow.TableName'",
								"type": "Expression"
							}
						}
					],
					"scriptBlockExecutionTimeout": "02:00:00"
				}
			},
			{
				"name": "Restore Load Control Table And Update Success",
				"type": "Script",
				"dependsOn": [
					{
						"activity": "Execute Pipeline1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "AzureSqlDeheus",
					"type": "LinkedServiceReference"
				},
				"typeProperties": {
					"scripts": [
						{
							"type": "Query",
							"text": {
								"value": "UPDATE f \nSET  f.LoadEnabled = g.LoadEnabled \n    ,f.ExtractEnabled = g.ExtractEnabled \nFROM [ETL].[ExtractLoadControlTable] f \nJOIN [STG].[ExtractLoadControlTable] g on f.Id = g.Id\n\nUPDATE [dbo].[LoadedJobQueue] SET RunningStatus = \"SUCCESSED\" WHERE [QueueKey] = @activity('LookUp Running Job').output.firstRow.QueueKey",
								"type": "Expression"
							}
						}
					],
					"scriptBlockExecutionTimeout": "02:00:00"
				}
			},
			{
				"name": "Restore Load Control Table And Update Fail",
				"type": "Script",
				"dependsOn": [
					{
						"activity": "Execute Pipeline1",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "AzureSqlDeheus",
					"type": "LinkedServiceReference"
				},
				"typeProperties": {
					"scripts": [
						{
							"type": "Query",
							"text": {
								"value": "UPDATE f \nSET  f.LoadEnabled = g.LoadEnabled \n    ,f.ExtractEnabled = g.ExtractEnabled \nFROM [ETL].[ExtractLoadControlTable] f \nJOIN [STG].[ExtractLoadControlTable] g on f.Id = g.Id\n\nUPDATE [dbo].[LoadedJobQueue] SET RunningStatus = \"FAILED\" WHERE [QueueKey] = @activity('LookUp Running Job').output.firstRow.QueueKey",
								"type": "Expression"
							}
						}
					],
					"scriptBlockExecutionTimeout": "02:00:00"
				}
			}
		],
		"variables": {
			"CountryKey": {
				"type": "String"
			},
			"TableName": {
				"type": "String"
			},
			"inputLastCutoffTime": {
				"type": "String"
			},
			"inputCurrentCutoffTime": {
				"type": "String"
			}
		},
		"folder": {
			"name": "Flow Orchestration"
		},
		"annotations": []
	}
}