adf/pipeline/pipeline_transform.json
{
	"name": "pipeline_transform",
	"properties": {
		"activities": [
			{
				"name": "Truncate_Staging_Table",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[ETL].[p_TruncateStagingTable]",
					"storedProcedureParameters": {
						"SourceObjectSchema": {
							"value": {
								"value": "@pipeline().parameters.SourceObjectSchema",
								"type": "Expression"
							},
							"type": "String"
						},
						"SourceObjectName": {
							"value": {
								"value": "@pipeline().parameters.SourceObjectName",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "OnPremDHW_tnu",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "GenerateDynamicStatement",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Truncate_Staging_Table",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[ETL].[P_GENERATESTATEMENT]",
					"storedProcedureParameters": {
						"SourceObjectSchema": {
							"value": {
								"value": "@pipeline().parameters.SourceObjectSchema",
								"type": "Expression"
							},
							"type": "String"
						},
						"SourceObjectName": {
							"value": {
								"value": "@pipeline().parameters.SourceObjectName",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "OnPremDHW_tnu",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "GetStatementWithVerified",
				"type": "Script",
				"dependsOn": [
					{
						"activity": "GenerateDynamicStatement",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "OnPremDHW_tnu",
					"type": "LinkedServiceReference"
				},
				"typeProperties": {
					"scripts": [
						{
							"parameters": [
								{
									"name": "SourceObjectSchema",
									"type": "String",
									"value": {
										"value": "@pipeline().parameters.SourceObjectSchema",
										"type": "Expression"
									},
									"direction": "Input"
								},
								{
									"name": "SourceObjectName",
									"type": "String",
									"value": {
										"value": "@pipeline().parameters.SourceObjectName",
										"type": "Expression"
									},
									"direction": "Input"
								}
							],
							"type": "Query",
							"text": "select * \nfrom [ETL].ETLpipelines\nwhere verify = 1\n\tand IsEnable = 1\n        and targetschema = @SourceObjectSchema\n\tand targettablename = @SourceObjectName\norder by sort"
						}
					],
					"scriptBlockExecutionTimeout": "02:00:00"
				}
			},
			{
				"name": "LoopStatementsVerified",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "GetStatementWithVerified",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('GetStatementWithVerified').output.resultSets[0]['rows']",
						"type": "Expression"
					},
					"batchCount": 20,
					"activities": [
						{
							"name": "ExecuteSQLStatment",
							"type": "Script",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"linkedServiceName": {
								"referenceName": "OnPremDHW_tnu",
								"type": "LinkedServiceReference"
							},
							"typeProperties": {
								"scripts": [
									{
										"type": "Query",
										"text": {
											"value": "@item().sqlstatement",
											"type": "Expression"
										}
									}
								],
								"scriptBlockExecutionTimeout": "02:00:00"
							}
						},
						{
							"name": "WriteOutputResult",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "ExecuteSQLStatment",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[ETL].[MasterEtlOutputResult]",
								"storedProcedureParameters": {
									"PipeLineName": {
										"value": {
											"value": "@item().PipelineName",
											"type": "Expression"
										},
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "OnPremDHW_tnu",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			}
		],
		"parameters": {
			"SourceObjectSchema": {
				"type": "string"
			},
			"SourceObjectName": {
				"type": "string"
			}
		},
		"variables": {
			"sqlstatement": {
				"type": "String"
			}
		},
		"folder": {
			"name": "Transform Pipeline"
		},
		"annotations": []
	}
}